.App {
  color: white;
  min-height: 100vh;
  text-align: center;
}

.App::before {
  background-color: darkblue;
  content: '';
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

input[type="number"] {
  appearance: none;
  background-color: rgba(255, 255, 255, .125);
  border-style: none;
  border-color: rgba(255, 255, 255, .5);
  border-width: 0.0625em;
  border-bottom-style: solid;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 .125em;
  padding: 0;
  text-align: center;
}

input[type="number"]:focus {
  outline-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

figcaption {
  text-align: center;
}

tr {
  background-color: midnightblue;
  border-color: rgba(255, 255, 255, .25);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  user-select: none;
}

tr:hover {
  filter: brightness(1.1);
}

tr:active {
  filter: brightness(0.9);
}

td {
  padding: .5em;
}